alembic==1.13.2
bleach==6.2.0
flasgger==0.9.7.1
Flask==3.1.1
Flask_Bcrypt==1.0.1
Flask_Cors==5.0.0
Flask_Limiter==3.10.1
Flask_Login==0.6.3
Flask_Migrate==4.0.7
flask_sqlalchemy==3.1.1
flask_wtf==1.2.2
marshmallow==4.0.0
redis==5.1.1
SQLAlchemy==2.0.32
Werkzeug==3.1.3
